.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;
  background-color: #9b3016;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.toggle {
  color: #fff;
}
