.footer {
  padding: 30px calc((100% - 1000px) / 2) 15px;
  background-color: #ebe9e4;
  border-top: solid 3px #9b3016;
}

.title {
  font-weight: bold;
}

.tip {
  display: list-item;
  margin-top: 10px;
  margin-left: 1.4em;
  font-size: 12px;
  line-height: 1.5;
  text-indent: -1.4em;
  list-style-position: inside;
  list-style-type: desc;
}

.tip a {
  color: #9b3016;
  text-decoration: underline;
  opacity: 1;
  transition: all 0.3s;
}

.tip a:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.copyright {
  display: block;
  margin-top: 30px;
  font-size: 12px;
  text-align: right;
}
