@import 'styles/variables/mediaquery.scss';

.wrapper input {
  display: none;
}

.label {
  position: relative;
  padding-left: 23px;
  @include mq(tb) {
    font-size: 13px;
  }
  @include mq(sp) {
    font-size: 12px;
  }
}

.label::before {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  content: '';
}

.wrapper input:checked + .label::after {
  position: absolute;
  top: calc(50% - 5px);
  left: 3px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #9b3016;
  border-radius: 5px;
  content: '';
}
