.container {
  width: 100%;
  height: 100%;
}

.search {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;
}

.sidebar {
  width: 280px;
}

.articles {
  width: 680px;
}

.articles_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;
  background-color: #9b3016;
}

.articles_heading_title {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.articles_heading_page {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.articles_card {
  margin-top: 10px;
}
