@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  color: #333333;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f7f7f7;
  font-size: 14px;
}